.page-body {
  font-family: sans-serif;
  background: #171717;
}

.container {
  max-width: 1460px;
  margin: 0 auto;
}
.header-main {
  display: flex;
  justify-content: space-between;
  margin-bottom: 130px;
  align-items: center;
  padding-top: 37px;
}
.contact {
  color: #e4b564;
  text-decoration: none;
  border: 1px solid #e4b564;
  padding: 10px 25px;
  font-family: "Circe";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.contact::before {
  content: "";
  display: inline-block;
  height: 12.96px;
  width: 12.96px;
  background-image: url("../img/vector.svg");
}

.title {
  color: #ffffff;
  font-size: 50px;
  line-height: 28px;
}

.about-company-title {
  margin-bottom: 40px;
  margin-top: 0;
}

.about-company {
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  margin-top: 0;
  margin-bottom: 40px;
}

.company-list {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas:
    "item1 item1 item2 item2 item3 item3"
    "item4 item4 item4 item5 item5 item5";
  list-style-type: none;
  min-height: 468px;
  gap: 30px;
  padding-left: 0;
  height: 966px;
  margin-top: 0;
  margin-bottom: 160px;
}
.company-list > li {
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-link {
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
  line-height: 28px;
  max-width: 380px;
  text-align: center;
  font-weight: 700;
}

.item_1 {
  background-color: #634f2c;
  grid-area: item1;
}

.item_2 {
  background-color: #b4a385;
  grid-area: item2;
}

.item_3 {
  background-color: #e4b564;
  grid-area: item3;
}

.item_4 {
  background-color: #635a4a;
  grid-area: item4;
}

.item_5 {
  background-color: #b08c4d;
  grid-area: item5;
}

.about-auto-title {
  margin-top: 0;
  margin-bottom: 95px;
}
.autos-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  list-style-type: none;
  margin-top: 54px;
  margin-bottom: 190px;
  padding-left: 0;
  height: 923px;
}
.auto-link {
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
  line-height: 25px;
  padding-top: 45px;
  padding-left: 50px;
  display: block;
  max-width: 302px;
}
.auto-link-black {
  color: #000000;
  font-size: 20px;
  line-height: 25px;
}

.autos-list > li {
  margin-bottom: 25px;
}

.auto-name {
  font-weight: bold;
  display: block;
}

.auto1 {
  background: #0e0e0e;
  width: 467px;
  height: 313px;
   font-weight: 400;
}
.auto2 {
  background: #1f1f1f;
  width: 467px;
  height: 560px;
  font-weight: 500;
}
.auto3 {
  background: #242424;
  width: 467px;
  height: 439px;
  font-weight: 400;
}
.auto4 {
  background: #e4b564;
  width: 467px;
  height: 405px;
    font-weight: 500;
}
.auto5 {
  background: #1f1f1f;
  width: 467px;
  height: 255px;
  font-weight: 500;
}
.auto6 {
  background: #0e0e0e;
  width: 467px;
  height: 313px;
  font-weight: 500;
}
.auto7 {
  background: #0a0909;
  width: 467px;
  height: 277px;
   font-weight: 700;
}
.all-projects {
  color: #e4b564;
  border: 1px solid #e4b564;
  font-size: 18px;
  line-height: 30px;
  padding: 10px 40px;
  text-decoration: none;
  max-height: 30px;
}

.our-clients-projects {
  background-color: #0e0e0e;
}
.clients-projects {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  width: 1460px;
  margin: 0 auto;
  margin-bottom: 60px;
  align-items: center;
  padding-top: 161px;
}
.project-names {
  padding-left: 0;
  display: flex;
  height: 782px;
  width: 1461px;
  flex-wrap: wrap;
  margin: 0 auto;
}
.project-names > li {
  list-style-type: none;
  width: 487px;
  height: 391px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.project-link {
  text-decoration: none;
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;
  color: #ffffff;
  max-width: 326px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.project1 {
  background-color: #634f2c;
}
.project2 {
  background-color: rgba(232, 210, 171, 0.76);
}
.mavis {
  margin-bottom: 16px;
}
.project2-address {
  font-weight: 200;
}
.project3 {
  background-color: #e4b564;
}
.project4 {
  background-color: #635a4a;
}
.project5 {
  background-color: #b08c4d;
}
.project6 {
  background-color: #634f2c;
}

.footer {
  padding-bottom: 240px;
  background: #171717;
}
